.container{
    max-width: 15rem;
    /* background-color: pink; */
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}

.flag{
    width: 100%;
}
.info{
    padding: 1rem;
}
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    
}